<body style="background-color:#07121A;">

  

  <br>

  <div class="container-fluid rounded fondo">

    <div class="container rounded font" style="color: white;">

      <br>

      <div class="row">
        <div class="col-sm rounded font letraLOL" style="background-color:#191D21;">
          <h4 style="text-align:center;">Habilidades del campeón</h4>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm rounded letraLOL" style="background-color:#191D21;">
          <h4 style="text-align:center;">Rol</h4>
        </div>
      </div>

      <br>
      
      <div class="row">
        <div class="col-sm rounded" style="background-color:#31333C;">
          <h5>Q:{{contenido.habilidad_q}}</h5>
          <p style="text-align: justify;">{{contenido.q_desc}}</p>
          <h5>W:{{contenido.habilidad_w}}</h5>
          <p style="text-align: justify;">{{contenido.w_desc}}</p>
          <h5>E:{{contenido.habilidad_e}}</h5>
          <p style="text-align: justify;">{{contenido.e_desc}}</p>
          <h5>R:{{contenido.habilidad_r}}</h5>
          <p style="text-align: justify;">{{contenido.r_desc}}</p>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm rounded" style="background-color:#31333C; color:#9F824B;">
          <h5 style="text-align: center; font-family: 'Courier New', Courier, monospace;">{{contenido.rol}}</h5>
          <img src="{{contenido.imagen}}" class="img-fluid rounded" alt="Responsive image">
          <h5 style="text-align: center; font-family: 'Courier New', Courier, monospace;">{{contenido.nombre_campeon}}</h5>
          <br>
          <br>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm rounded letraLOL" style="background-color:#191D21; color:white;">
          <h4 style="text-align:center;">Descripción</h4>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm rounded">

        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm rounded" style="background-color:#31333C; color:white;">
          <p style="text-align:justify;">Descripción:{{contenido.campeon_desc}}</p>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm rounded">

        </div>
      </div>

     

      <br>

    </div>

  </div>

</body>